<ul id="task-card" class="collection with-header">
    <li class="collection-header blue lighten-1">
    	<h4>Cursos</h4>
    </li>
    <li class="collection-item dismissable">
    	<div class="row" style="margin-bottom: 0px">
    		<div class="col s6 m4 l3" ng-repeat="Cursos in cursosFiltro">
      		<input ng-click="checkCursoFiltro(Cursos.Id)"
      		data-curso="{{Cursos.Id}}" type="checkbox" id="{{'curso'+Cursos.Id}}" />
          <label for="{{'curso'+Cursos.Id}}">{{Cursos.Nome}}</label>
        </div>
    	</div>
    </li>
</ul>