<section id="content">
  <!--breadcrumbs start-->
  <div id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <ol class="breadcrumbs">
            <li>Historial</li>
            <li class="active">Diario</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--breadcrumbs end-->

  <div class="divider"></div>

  <div class="container">
    <div id="mail-app" class="section">
        <div class="row">
          <div class="col s12 card-panel">
            <div class="nav-wrapper">
              <h4 class="header2">Seleccione la Fecha</h4>
              <div class="left col s6 m3 l3">
                <div class="input-field col s12">
                  <input type="date" class="datepicker">
                  <label for="FECHA">FECHA</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12">
            <div id="email-list" class="col s12 m4 l4 card-panel z-depth-1">
              <ul class="collection" style="max-height: 455px;overflow: auto;">
                <li ng-click="clickHistorialCursoId(historial)" ng-repeat="historial in historiales" ng-class="{'clickedHistorial': historial.Id+historial.Dia == clickHistorial.Id+clickHistorial.Dia}" class="collection-item avatar email-unread">
                  <span class="circle {{historial.Color}} lighten-3">{{historial.Abre}}</span>
                  <span class="email-title">{{historial.Curso}}</span>
                  <span class="email-title">{{historial.Sede + " - " + historial.Jornada}}</span>
                  <p class="truncate grey-text ultra-small">{{historial.Usuario}}</p>
                  <a class="secondary-content email-time"><span class="blue-text ultra-small">{{historial.Dia}}</span></a>
                </li>
              </ul>
            </div>
            <div id="historial-details" class="col s12 m8 l8 card-panel z-depth-1" style="display: none; margin-top: 0px; max-height: 455px;overflow: auto;">
              <table>
                <thead>
                  <tr>
                    <th data-field="id">Nombre</th>
                    <th data-field="name">Numero</th>
                    <th data-field="price">Asistencia</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="estudianteHistorial in estudiantesHistorial">
                    <td>
                      {{estudianteHistorial.Nombre}}
                      <div ng-show="verificarEnviado(estudianteHistorial)" style="color: red; font-size: 12px">"Mensaje no enviado porque el numero estaba mal"</div>
                    </td>
                    <td>{{estudianteHistorial.Numero}}</td>
                    <td>{{estudianteHistorial.Asistencia}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="notificacion-details" class="col s12 m8 l8 card-panel z-depth-1" style="display: none; margin-top: 0px; max-height: 455px;overflow: auto;">
              <h5><strong>Texto Enviado:</strong>"{{mensaje}}"</h5>
              <table>
                <thead>
                  <tr>
                    <th data-field="id">Nombre</th>
                    <th data-field="name">Numero</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="notificacionHistorial in notificacionesHistorial">
                    <td>
                      {{notificacionHistorial.Nombre}}
                      <div ng-show="verificarEnviado(notificacionHistorial)" style="color: red; font-size: 12px">"Mensaje no enviado porque el numero estaba mal"</div>
                    </td>
                    <td>{{notificacionHistorial.Numero}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
<!--end container-->

</section>
<!-- END CONTENT -->