<section id="content">
	
	<!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
	  <div class="container">
	    <div class="row">
	      <div class="col s12 m12 l12">
	        <ol class="breadcrumbs">
	            <li>Reportes</li>
	            <li class="active">Auxilio</li>
	        </ol>
	      </div>
	    </div>
	  </div>
	</div>
	<!--breadcrumbs end-->

    <div class="divider"></div>

    <!--start container-->
    <div id="basic-form" class="section">
      	<div class="row">
	        <div class="col s12 m12 l12">
	          	<div class="card-panel">
		          	<ul id="task-card" class="collection with-header">
			      		<li class="collection-header cyan darken-1">
			      			<h4 class="task-card-title">Buscar Estudiante</h4>
			      		</li>
			      	</ul>
			        <div style="margin-bottom: 0px" class="row">
			          <form class="col s12 formValidate" novalidate id="formValidate" ng-include="getTemplateMulti('FiltroEstudiante','preferenciasFiltroEstudiante')">
			            
			          </form>
			        </div>
		      	</div>
		    		<div class="card-panel" ng-show="estudianteNPS">
			      	<ul id="task-card" class="collection with-header" style="overflow: visible;">
			      		<li class="collection-header cyan darken-1">
			      			<h4 class="task-card-title">Seleccionados</h4>
			      		</li>
			      		<li class="collection-item dismissable" ng-include="getTemplateMulti('EstudiantesSeleccionados','preferenciasEstudiantesSeleccionados')">
			      			
			      		</li>
			      		<li class="collection-item dismissable" style="overflow: auto;">
			      			<div class="nav-wrapper">
						        <h4 class="header2">Selecciona el Rango de Fechas</h4>
						        <div class="left col s12 m12 l12">
						          <div class="input-field col s12 m3">
						            <input type="date" class="datepicker1">
						            <label for="FECHA">FECHA 1</label>
						          </div>
						          <div class="input-field col s12 m3">
						            <input type="date" class="datepicker2">
						            <label for="FECHA">FECHA 2</label>
						          </div>
						        </div>
						        <div class="input-field col s6" style="margin-bottom: 10px;">
						        <button id="generarPdf" ng-click="modalgenerarPdf()" class="waves-effect waves-light green lighten-2 btn left"><i class="mdi-image-navigate-next right"></i>Generar Reporte en PDF</button>           
						        </div> 
						      </div>
			      		</li>
			      	</ul>
          	</div>
	        </div>
      	</div>
    </div>
</section>
