<section id="content">
  <div id="breadcrumbs-wrapper">
	  <div class="container">
	    <div class="row">
	      <div class="col s12 m12 l12">
	        <ol class="breadcrumbs">
            <li>Reportes</li>
            <li class="active">Cursos</li>
	        </ol>
	      </div>
	    </div>
	  </div>
	</div>
  
  <div class="divider"></div>
  <!--Basic Form-->
  <div id="basic-form" class="section">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel">
          <h4 class="header2">Selecciona la Sede</h4>
          <div class="row">
            <form class="col s12">
              <div class="row" ng-include="getTemplateMulti('SelectorSede')">
                
              </div>  
              <div class="col s12 m12 l12" ng-show="sedeReporte == cursoFiltro.IdSede" ng-repeat="cursoFiltro in cursosFiltro" ng-include="getTemplateMulti('FiltroCursosSede','preferenciasFiltroCursosSede')">
                  
              </div>
              <div class="col s12 m12 l12" ng-show="checkCurso" ng-include="getTemplateMulti('CheckMeses')">
                
              </div>
              <div class="row" ng-show="checkCurso && checkMes">
                <div class="col s12 m6 l6 right">
                  <button id="generarPdf" ng-click="modalgenerarPdf()" class="waves-effect waves-light green lighten-2 btn right"><i class="mdi-image-navigate-next right"></i>Generar Reporte en PDF</button>              
                </div>
              </div>
              <div class="row" ng-show="checkCurso && checkMes">
                <div class="input-field col s12 m12 l12">
                  <table id="tableCurso" class="display striped bordered" cellspacing="0">
                    <thead>
                        <tr>
                          <th></th>
                          <th style="text-align: center;max-width: 10%">Nombres</th>
                          <th ng-repeat="mes in mesesChecked" colspan="{{llamados.length}}" style="text-align: center">{{mes.mes}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td style="border: solid 1px;width: 1%;">
                            <input ng-click="checkestudiantes()" type="checkbox" id="todosestudiantes" />
                            <label style="top: 0.5rem;left: 0.5rem" for="todosestudiantes"></label>
                          </td>
                          <td style="border: solid 1px;"></td>
                          <td ng-repeat-start="mes in mesesChecked" style="display: none"></td>
                          <td ng-repeat="llamado in llamados" ng-show="$index == 0" style="text-align: center;border: solid 1px; border-left:3px solid #81C784">{{llamado.Alias}}</td>
                          <td ng-repeat="llamado in llamados" ng-show="$index != 0" style="text-align: center;border: solid 1px;">{{llamado.Alias}}</td>
                          <td ng-repeat-end style="display: none"></td>
                        </tr>
                        <tr ng-repeat="estudiante in estudiantes">
                          <td style="border: solid 1px;width: 1%;">
                              <input ng-model="estudiante.Habilitar" type="checkbox" id="{{'estudiante'+$index}}" />
                              <label style="top: 0.5rem;left: 0.5rem" for="{{'estudiante'+$index}}"></label>
                          </td>
                          <td ng-click="checkestudiante($index)" style="border: solid 1px;max-width: 10%;cursor:pointer;">{{estudiante.Nombre}}</td>
                          <td ng-repeat-start="mes in mesesChecked" style="display: none"></td>                              
                          <td class="SubTablaReporteCurso" ng-show="$index == 0" ng-repeat="llamado in llamados" style="border-left:3px solid #81C784" ng-class="mirarError($index,estudiante.Meses[mes.pos][$index])+' lighten-3'">
                            {{mirarCantidad(estudiante.Meses[mes.pos][$index])}}
                          </td>
                          <td class="SubTablaReporteCurso" ng-show="$index != 0" ng-repeat="llamado in llamados" ng-class="mirarError($index,estudiante.Meses[mes.pos][$index])+' lighten-3'">
                            {{mirarCantidad(estudiante.Meses[mes.pos][$index])}}
                          </td>
                          <td ng-repeat-end style="display: none"></td>
                        </tr>
                    </tbody>
                  </table>   
                </div>
              </div>
              <div class="row" ng-show="checkCurso && checkMes">
                <div class="col s12 m6 l6 right">
                  <button id="generarPdf" ng-click="modalgenerarPdf()" class="waves-effect waves-light green lighten-2 btn right"><i class="mdi-image-navigate-next right"></i>Generar Reporte en PDF</button>              
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>          
    </div>
  </div>
</section>
<!-- END CONTENT -->