<div style="padding-bottom: 0px" class="modal-content">
  <div class="row">
    <div class="col s12 m12 l12">
        <ul id="profile-page-about-details" class="collection z-depth-1">
          <li class="collection-item">
            <div class="row">
              <div class="col s12 grey-text darken-1"><i class="mdi-image-timer-auto"></i> Miembro</div>
              <div class="col s12 grey-text text-darken-4 left-align">{{miembro.Nombre}}</div>
            </div>
            <div class="row">
              <div class="col s12 grey-text darken-1"><i class="mdi-communication-phone prefix"></i> Telefono</div>
              <div class="col s12 grey-text text-darken-4 left-align">{{miembro.Cel}}</div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>