<div style="padding-bottom: 0px" class="modal-content">
  <div class="row">
    <div class="col s12 m12 l12">
        <ul id="profile-page-about-details" class="collection z-depth-1">
          <li class="collection-item">
            <div class="row">
              <div class="col s12 grey-text darken-1"><i class="mdi-image-timer-auto"></i> Estudante</div>
              <div class="col s12 grey-text text-darken-4 left-align">{{estudante.Nome}}</div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row">
              <div class="col s12 grey-text darken-1"><i class="mdi-action-accessibility"></i> Responsavel</div>
              <div class="col s12 grey-text text-darken-4 left-align">{{estudante.Responsavel.RG}}</div>
              <div class="col s12 grey-text text-darken-4 left-align">{{estudante.Responsavel.Nome}}</div>
              <div class="col s12 grey-text text-darken-4 left-align">{{estudante.Responsavel.Telefone}}</div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>