<div style="padding-bottom: 0px" class="modal-content">
  <div class="row">
    <!-- Form with validation -->
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h4 class="header2">Nuevo Curso</h4>
        <div style="margin-bottom: 0px" class="row">
          <form class="col s12" ng-submit="agregarCurso(AddCursosCtrl.nuevoCurso)" ng-controller="AddCursosCtrl">
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-account-circle prefix"></i>
                <input ng-model="AddCursosCtrl.nuevoCurso.Nombre" id="nuevoCursoNombre" type="text" class="validate" required="" aria-required="true">
                <label for="nuevoCursoNombre">Nombre</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-communication-email prefix"></i>
                <select name="nuevoCursoSedeSelect" id="nuevoCursoSedeSelect">
                  <option value="" disabled></option>
                  <option ng-repeat="sede in sedes" value="{{sede.Id}}">{{sede.Nombre}}</option>
                  <!-- <option value="1">Manager</option>
                  <option value="2">Developer</option>
                  <option value="3">Business</option> -->
                </select>
                <label for="nuevoCursoSedeSelect">Sede</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <select name="nuevoCursoJornadaSelect" id="nuevoCursoJornadaSelect">
                  <option value="" disabled></option>
                  <option ng-repeat="jornada in jornadas" value="{{jornada.Id}}">{{jornada.Nombre}}</option>
                  <!-- <option value="" disabled selected></option>
                  <option value="1">Manager</option>
                  <option value="2">Developer</option>
                  <option value="3">Business</option> -->
                </select>
                <label for="nuevoCursoJornadaSelect">Jornada</label>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>